body{
        background: rgb(213,58,255);
        background: linear-gradient(101deg, rgba(213,58,255,1) 0%, rgba(68,106,255,1) 100%);
    }
  h1{
    text-align: center;
    color: aliceblue;
    font-size: 45px;
  }
  h2{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 24px;
  }
  p{
    color: rgb(255, 222, 173);
    margin-left: 50px;
    margin-right: 40px;
  }
  #content1{
  	max-width: 600px; 
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;

  }
  #content1 h2{
  	text-align: center;
    color: black;
  	font-size: 19px;
  }
  #content1 li{
    padding-left: 15px;
    color: darkblue;
    margin-left: 50px;
  }
  
